                @font-face {
                    font-family: footer-font;
                    src: url('../fonts/LuckiestGuy-Regular.ttf');
                }
                
                * {
                    box-sizing: border-box;
                }
                
                img {
                    width: 100%;
                }
                
                body {
                    margin: 0;
                    background-color: lightgrey
                }
                /* main layout */
                
                .main-container {
                    height: 100vh;
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: 1fr 3fr 3fr 1fr;
                }
                
                .header-container {
                    grid-column: 1/ span 8;
                    grid-row: 1/ span 1;
                    background-color: #FB9623;
                    margin-bottom: 30px;
                    box-shadow: -10px 6px 0 #fe6e20, -19px 11px 0 #a8172a;
                    padding: 20px;
                }
                
                .editor-container {
                    grid-column: 1/ span 8;
                    grid-row: 2/ span 1;
                    display: none;
                    margin: 5% auto;
                    border-radius: 30px;
                }
                
                .gallery-container {
                    grid-column: 1/ span 8;
                    grid-row: 3/ span 1;
                    display: none;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
                    grid-gap: 10px;
                }
                
                .saved-imges {
                    grid-column: 1/ span 8;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
                    grid-gap: 10px;
                    display: none;
                }
                
                .footer {
                    grid-column: 1/ span 8;
                    grid-row: 4/ span 1;
                    background-color: #FB9623;
                    margin-top: 30px;
                    text-align: center;
                }
                
                .footer p {
                    font-size: 40px;
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: black;
                    color: #fe6e20;
                    font-family: footer-font, sans-serif;
                }
                
                .footer small {
                    position: relative;
                    bottom: 30px;
                    font-size: 16px;
                }
                /* header layout */
                
                .logo {
                    max-width: 300px;
                }
                
                .hambur {
                    display: none;
                }
                
                .close-menu {
                    display: none;
                }
                
                .menu {
                    font-size: 30px;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    color: #FB9623;
                    text-transform: capitalize;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                    text-shadow: -4px 3px 0 #a8172a;
                }
                
                .gallery {
                    cursor: pointer;
                    transition: .2s;
                }
                
                .gallery-container img {
                    border-radius: 20px;
                    cursor: pointer;
                }
                
                .gallery:hover {
                    font-size: 50px;
                }
                
                .about {
                    cursor: pointer;
                    transition: .2s;
                }
                
                .memes {
                    cursor: pointer;
                    transition: .2s;
                }
                
                .memes:hover {
                    font-size: 50px;
                }
                
                .about:hover {
                    font-size: 50px;
                }
                
                li {
                    padding-right: 50px;
                }
                /* editer layout */
                
                .editor-controller {
                    flex-direction: column;
                    margin: auto;
                }
                
                .canvas {
                    border-radius: 23px;
                }
                
                #input {
                    max-width: 300px;
                    margin: 30px auto 0 auto;
                    padding: 5px;
                    border-radius: 20px;
                    text-align: center;
                    font-weight: bold;
                }
                
                .top-btns {
                    margin: 0 auto;
                    padding-top: 15px;
                }
                
                .btn {
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.49);
                    margin: 3px;
                    padding: 5px;
                }
                
                .low-btns {
                    text-align: center;
                }
                
                .fonts {
                    padding: 10px 30px;
                    font-size: 18px;
                    border-radius: 15px;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.534);
                    position: relative;
                    bottom: 10px;
                    cursor: pointer;
                }
                
                .save {
                    text-align: center;
                }
                
                .save a {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.49);
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
                
                .save a:hover {
                    color: #FB9623;
                }
                
                .save-btn {
                    padding-left: 20px;
                }
                
                .text-stroke-btn {
                    position: relative;
                    cursor: pointer;
                }
                
                .text-stroke {
                    opacity: 0;
                    right: 2px;
                    position: absolute;
                    width: 30px;
                    cursor: pointer;
                }
                
                .fill-color-btn {
                    position: relative;
                    cursor: pointer;
                }
                
                .text-fill {
                    opacity: 0;
                    position: absolute;
                    right: 2px;
                    width: 30px;
                    cursor: pointer;
                }
                
                .btn:hover {
                    background-color: #FB9623;
                    filter: sepia(30%);
                }
                
                .btns-editor {
                    flex-direction: column;
                    padding: 30px 50px 30px 50px;
                    gap: 50px;
                }
                /* helpers */
                
                .grid {
                    display: grid;
                }
                
                .flex {
                    display: flex;
                }
                
                .space-between {
                    justify-content: space-between;
                }
                
                .flex.align-center {
                    align-items: center;
                }
                
                .flex.justify-content-center {
                    justify-content: center;
                }
                
                .clean-list {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                
                @media(max-width: 890px) {
                    .canvas {
                        width: 50%;
                        height: 300px;
                    }
                    .btns-editor {
                        padding: 10px 30px 10px 30px;
                        gap: 10px;
                    }
                    .gallery-container {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    .fonts {
                        padding: 8px 25px;
                        font-size: 14px;
                        bottom: 4px;
                    }
                    .memes {
                        padding-right: 0;
                    }
                    .menu {
                        font-size: 25px;
                    }
                    .logo {
                        width: 200px;
                    }
                    .gallery:hover {
                        font-size: 35px;
                    }
                    .about:hover {
                        font-size: 35px;
                    }
                    .memes:hover {
                        font-size: 35px;
                    }
                }
                
                @media(max-width: 730px) {
                    .editor-container {
                        flex-direction: column;
                    }
                    .gallery-container {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    .canvas {
                        width: 100%;
                        height: 300px;
                    }
                    .logo {
                        max-width: 150px;
                        max-height: 50px;
                        object-fit: contain;
                    }
                    .gallery {
                        font-size: 20px;
                        text-align: center;
                    }
                    .gallery:hover {
                        font-size: 30px;
                    }
                    .about {
                        font-size: 20px;
                        text-align: center;
                    }
                    .about:hover {
                        font-size: 30px;
                    }
                    .memes {
                        font-size: 20px;
                    }
                    .memes:hover {
                        font-size: 30px;
                    }
                }
                
                @media (max-width: 500px) {
                    .logo {
                        max-width: 100px;
                        max-height: 50px;
                        padding-left: 20px;
                        object-fit: contain;
                    }
                    .menu {
                        flex-direction: column;
                        position: fixed;
                        right: 0;
                        top: 0;
                        height: 100%;
                        background-color: #FB9623;
                        text-shadow: unset;
                        opacity: 0.97;
                        padding-right: unset;
                        width: 50%;
                        transform: translateX(100%);
                        transition: 1s;
                    }
                    .menu li:hover {
                        color: #a8172a;
                    }
                    .header-container {
                        padding: 10px 0;
                    }
                    .gallery {
                        font-size: 20px;
                        width: 80%;
                        text-align: center;
                        padding: 30px 0;
                        border-bottom: 4px solid #a8172a;
                    }
                    .gallery:hover {
                        font-size: 20px;
                    }
                    .about {
                        font-size: 20px;
                        width: 80%;
                        text-align: center;
                        padding: 30px 0;
                        border-bottom: 4px solid #a8172a;
                    }
                    .about:hover {
                        font-size: 20px;
                    }
                    .memes {
                        font-size: 20px;
                        width: 80%;
                        text-align: center;
                        padding: 30px 0;
                        border-bottom: 4px solid #a8172a;
                    }
                    .memes:hover {
                        font-size: 20px;
                    }
                    .gallery-container {
                        grid-template-columns: repeat(1, 1fr);
                    }
                    .hambur {
                        display: block;
                        align-self: center;
                        padding-right: 30px;
                        color: #a8172a;
                        font-size: 30px;
                        cursor: pointer;
                    }
                    .menu.open {
                        transform: translateX(0);
                    }
                    .close-menu {
                        display: block;
                        align-self: flex-end;
                        padding-right: 20px;
                        cursor: pointer;
                    }
                    .canvas {
                        width: 100%;
                        height: 300px;
                    }
                    .editor-container {
                        flex-direction: column;
                    }
                    .btns-editor {
                        padding: 10px 30px 10px 30px;
                        gap: 10px;
                    }
                }